@import "tailwindcss";

@font-face {
  font-family: 'Fellix';
  src: url('./assets/fonts/Fellix-TRIAL-Medium.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monospac821';
  src: url('./assets/fonts/MONOSPACE821BT.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Monospac821', monospace;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fellix', sans-serif;
}